.Cabecalho {
  background-color: #c9c9c9;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.Cabecalho h1 {
  color: #333;
  font-size: 1rem;
}

.Cabecalho span {
  color: #007bff;
}

.Cabecalho a{


  text-decoration: none;
  color: gray
}