.forms{

    display: flex;
    justify-content: center;
    gap: 0.5rem;


}

.txt{

text-align: center;
    transition: transform 0.6s ease; 
  color: rgb(0, 0, 0);

}

.txt:hover span {
  color: aqua;
  transition: 1s;
 transform: translateY(-10px);
  filter: brightness(0.9);

}